:host {
  display: block;
  width: 100%;
  font-family: var(--font-sans);
}

* {
  box-sizing: border-box;
}

.book-management-page {
  width: 100%;
  min-height: 100vh;
  padding: 40px 55px 90px;
  background: #f6f7f7;
}

.management-container {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}

.filters-wrapper {
  margin-top: 75px;
}

.books-wrapper {
  margin-top: 47px;
}

.pagination-wrapper {
  margin-top: 48px;
}

@media (max-width: 1100px) {
  .book-management-page {
    padding-right: 35px;
    padding-left: 35px;
  }
}

@media (max-width: 600px) {
  .book-management-page {
    padding: 28px 17px 60px;
  }

  .filters-wrapper {
    margin-top: 45px;
  }

  .books-wrapper {
    margin-top: 35px;
  }
}
